@model List<SportsPro.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Code</th>
            <th>Name</th>
            <th>Yearly Price</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductCode</td>
                <td>@product.Name</td>
                <td>@product.YearlyPrice</td>
                <td>@product.ReleaseDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
